PORT=8080
NODE_ENV=development
FRONTEND_ORIGIN=http://localhost:3000
MONGODB_URI=mongodb://127.0.0.1:27017/glossy-pos
AWS_REGION=ap-southeast-1
AWS_ACCESS_KEY_ID=REPLACE_ME
AWS_SECRET_ACCESS_KEY=REPLACE_ME
AWS_S3_BUCKET_PRIVATE=glossy-pos-private-uploads
AWS_S3_KMS_KEY_ID=
